<%- include('templates/header')%>
<div class="d-flex justify-content-center">
  <div class="container mt-3 form-signin text-center">

    <div class="container" style="width: 20%">
      <label class="form-label tk-form-label" for="user">ERROR: <%-  %></label>
      
  </div>
  </div>
</div>
<%- include('templates/footer')%>
